$dark-theme-primary: mat-palette($mat-red);
$dark-theme-accent: mat-palette($mat-red, 'A400');
$dark-theme-warn: mat-palette($mat-red, 700);

$dark-theme: mat-dark-theme(
    $dark-theme-primary,
    $dark-theme-accent,
    $dark-theme-warn
);
