<mat-toolbar color="primary">
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-center align-items-center">
            <button
                routerLink="/"
                mat-icon-button
                class="example-icon"
                aria-label="Example icon-button with menu icon"
            >
                <mat-icon>home</mat-icon>
            </button>
            <span>PPL Quizes</span>
        </div>
        <div class="d-flex justify-content-center align-items-center"></div>
    </div>
</mat-toolbar>
