@import '../app/themes/vars.scss';
//

#main {
    padding: $main-pad-to-content 0;
    min-height: $main-height;
}

/* ribbon stuff */
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #f44336;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 18px/1 'Roboto', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* top right*/
.ribbon-top-right {
    top: 0;
    right: 0;
}
.ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
}
