@import '../../../../themes/vars.scss';

.container {
    min-height: $body-height;
}

.question {
    font-size: 1.1em;
    font-weight: bold;
    white-space: pre-wrap;
}

.figure-zoom {
    max-width: 80%;
    max-height: 300px;
    cursor: zoom-in;
    text-align: center;
}

.figure {
    height: 100%;
    max-width: 100%;
    cursor: zoom-in;
}

.answer {
    padding: 8px;
    ::ng-deep .mat-radio-label-content {
        white-space: pre-wrap;
    }
}

.verified {
    .answer {
        pointer-events: none;
        &.correct {
            background-color: lime;
            background: rgba($color: lime, $alpha: 5);
        }
        &.incorrect {
            background: rgba($color: red, $alpha: 0.5);
        }
    }
}
