<div class="container d-flex justify-content-center align-items-center">
    <mat-card *ngIf="!loading" class="col-sm-8 col-xs-12 mat-elevation-z24">
        <p class="question">{{ currentQA.question }}</p>
        <div *ngIf="currentQA.figure" class="d-flex justify-content-center m-5">
            <a
                href="assets/imgs/figures/{{ currentQA.figure }}"
                target="_blank"
            >
                <img
                    class="figure"
                    src="assets/imgs/figures/{{ currentQA.figure }}"
            /></a>
        </div>
        <form [ngClass]="{ verified: verified }" [formGroup]="qaForm">
            <mat-radio-group
                [formControl]="qaForm.get('answer')"
                aria-label="Select an answer"
            >
                <div class="d-flex flex-column">
                    <div
                        class="answer"
                        [ngClass]="{
                            correct: a.correct,
                            incorrect: selectedAnswerIndex == i && !a.correct
                        }"
                        *ngFor="let a of currentQA.answers; let i = index"
                    >
                        <mat-radio-button [value]="i">{{
                            a.text
                        }}</mat-radio-button>
                    </div>
                </div>
            </mat-radio-group>
        </form>
        <mat-card-actions align="end">
            <button
                *ngIf="!verified"
                [disabled]="selectedAnswerIndex == null"
                mat-raised-button
                color="primary"
                (click)="verifyAnswer()"
            >
                Verify
                <mat-icon inline="true">done</mat-icon>
            </button>
            <button
                mat-raised-button
                *ngIf="verified"
                color="primary"
                (click)="nextQuestion()"
            >
                Next
                <mat-icon inline="true">navigate_next</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <div *ngIf="loading">Loading...</div>
</div>
