@import '~@angular/material/theming';

// import once
@include mat-core();

@import './app/themes/light-theme.scss';
@import './app/themes/dark-theme.scss';

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// custom scrollbar
@import 'app/themes/scrollbar.scss';

// custom component themes
@mixin custom-components-theme($theme) {
    //
    @include scrollbar($theme);
}

.dark-theme {
    @include angular-material-theme($dark-theme);
    @include custom-components-theme($dark-theme);
}

.light-theme {
    @include angular-material-theme($light-theme);
    @include custom-components-theme($light-theme);
}

@import 'app/themes/utils.scss';
